<form role="form" action="{{ path('rechercheProduits') }}" method="POST">
    <div class="form-group">
        <div class="input-group rechercher">
            {{ form_widget(form.recherche) }}
            <span class="input-group-btn">
                <a class="btn btn-success" type="submit">Rechercher</a>
            </span>
            {{ form_widget(form) }}
        </div>
    </div>
</form>