<div class="col-sm-12">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Nos produits</li>
            <li>
                <a href="">Fruits</a>
            </li>
            <li>
                <a href="">Légumes</a>
            </li>
        </ul>
    </div>
</div>