{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-3">
                <div class="row">
                    {% include "::modulesUsed/navigation.html.twig" %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% include "UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig" %}
                    {% else %}
                        {% include "UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig" %}
                    {% endif %}
                    {% render(controller('EcommerceBundle:Panier:menu')) %}
                </div>
            </div>    

            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>{{ page.titre }}</h2>
                        <p class="text-justify">
                            {{ page.contenu|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}